# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
!.env.example

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Biome cache
.biome/

# MacOS files
.DS_Store

# Editor directories and files
.idea
.vscode
